.app {
  text-align: center;
}

.card {
  border-radius: 10px;
  max-width: 350px;
  background-color: #222;
  color: white;
  border: 1px solid white;
  margin: 0 auto;
  position: relative;
}

.card_inner {
  background-color: rgba(170,170,170,0.25);
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  border: 2px #e15021 solid;
  padding: 0 10px;
}

.card_header {
  display: flex;
  padding: 1em 0;
}

.card_logo {
  width: 30%;
}

.card_name {
  margin: auto 0 auto auto;
}

.card_stat {

  position: relative;
  text-align: left;
  border-top: 1px solid #ddd;
  margin-top: 0;
  padding: .5em 1em;  
}

.card_stat:first-child {
  border-top: none;
}

.card_statChild {
  float: right;
}

.card_stats {
  padding-left: 0;
  list-style: none;
}

.card_image {
  border-radius: 10px;
}

.card-back {
  background-image: url('http://www.cardgamedb.com/forums/uploads/sw/starwars-image-missing.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}









